{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Battleship optimizer</title>
</head>
<body>
    <div class="main">
        <table id="grid">

        </table>

        <table id="ships">
            <tr>
                <td class="i0">4</td>
                <td class="i1">3</td>
                <td class="i2">3</td>
                <td class="i3">2</td>
                <td class="i4">2</td>
                <td class="i5">2</td>
            </tr>
        </table>

        <div id="send">Send</div>
    </div>

    <script>
        var csrf_token = "{% csrf_token %}";
    </script>
    <script src="{% static 'index.js' %}"></script>
</body>
</html>
